# ======================
# Node.js
# ======================
node_modules/

# ======================
# Environment & Secrets
# ======================
.env
key.js

# ======================
# Python
# ======================
__pycache__/
*.pyc

# ======================
# Cache / Temp
# ======================
cache/
*.log

# ======================
# Build Files
# ======================
dist/
build/
.vite/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db